/**
 *@file
 *
 * Styles for the bottom region containing the footer menu.
*/

.region--bottom {
  background: $navy;
  color: $white;

  .region--bottom--wrapper {
    @include wrapper(100%);
    //max-width: 960px;
  }

  @include window_size(tab-narrow-up) {
    .region-bottom {
      width:100%;
    }
    .footer__copyright {
      width: 30%
    }
    .footer__credits {
      width: auto;
      float: right;
      padding-right: 1em;
    }

  }

  @include window_size(tab-wide-up) {
    .region-bottom {
      width:32%;
    }
    .footer__copyright {
      width: 23%
    }
    .footer__credits {
      width: auto;
      float: right;
    }

  }
  @include window_size(desktop) {
    .region-bottom {
      width: 230px;
    }
    .footer__copyright {
      width: 30%
    }
    .footer__credits {
      width: auto;
      float: right;
    }
  }



  .footer__copyright,
  .footer__credits {
    padding: 1em;
  }

  .footer__copyright,
  .footer__credits,
  .region-bottom {
    display: inline-block;
  }




  //Lists
  ul { padding: 0 2%;}
  li {
    display: inline-block;
    padding: 1em;
    list-style: none;
  }

  //Links
  a {
    color: $light-blue;
    font-weight: bold;
  }

  ul.menu,
  ol.menu,
  menu.menu {
    margin: 0;
  }


}