/**
 * @file
 * SMACSS Modules
 *
 * Content component.
 *
 */

#content {

    @include window_size(desktop){
        border: 0px solid red;
        background-image: url("../images/sublevel_left_menu_bg.png");
        background-repeat: repeat-y;
        margin:0;
        padding: 0;
   }
}


.page__title{
   font-family: Merriweather, serif;
   font-weight:900;
   font-size: 2.250em;
}


.page__content_wrapper{
    margin: 0;
    padding: 0;
    border:0px solid red;


    @include window_size(desktop){
      width: $zen-grid-width;
      margin-left: auto;
      margin-right: auto;
      border:0px solid green;
      @include clearfix;
    }

}

h2{
  font-family: Merriweather, serif;
  font-weight: normal;
  font-size: 1.429em;
  font-weight: 900;
  @include window_size(desktop){
      font-size:2em;
  }
}


.page__resource_header{
border-top:1px solid $light-blue;
padding: 10px 0 0 0;
@include clearfix;

}
h3{
  font-family: Merriweather, serif;
  font-weight: 400;

  padding:0;
  margin: 5px 0px 5px 0;
  width: 70%;
  display: inline-block;
  line-height: 1.2em;
  @include window_size(desktop){
      font-size:1.571em;
  }



}



.page__content_col_1{
  border: 0px solid red;
  padding: 0 25px 0 25px 0;
  background-color: $subsection_light_grey;
    @include window_size(desktop){
    width:250px;
    float: left;
    margin: 0px 0;


  }
}


.page__content_col_2{
border: 0px solid red;
padding: 0 0 300px 0;
background-color: $white;
  @include window_size(desktop){
    float: left;

    width: 700px;

  }

}



.page__content_col_2_wrapper{
      padding: 10px 30px 0 30px;
}


.page__content_paragraph{
  border: 0px solid red;
  line-height: 1.25em;
  width: 90%;
    @include window_size(desktop){
        width: 85%;
        font-size: 1.143em;
        line-height: 1.35em;
    }
}

.page__content_paragraph--detail_page{

  border: 0px solid red;
  line-height: 1.25em;
  color:rgba(0,0,0,0.6);
  width: 90%;
    @include window_size(desktop){
        width: 85%;
        font-size: 1.143em;
        line-height: 1.35em;
    }
}

.page__content_paragraph_strong--detail_page{
  border: 0px solid red;
  line-height: 1.25em;
  color:rgba(0,0,0,0.6);
  font-weight: 700;
  width: 90%;
    @include window_size(desktop){
        width: 85%;
        font-size: 1.143em;
        line-height: 1.35em;
    }
}


.page__content_ul--detail_page{
  border: 0px solid red;
  line-height: 1.25em;
  color:rgba(0,0,0,0.6);

  width: 90%;
    @include window_size(desktop){
        width: 85%;
        font-size: 1.143em;
        line-height: 1.35em;
    }
}


.page__content_ul--detail_page li{
     margin:0;
     padding:0;
}


@mixin page__icon_base($url: "../images/subsections/icon_view.png"){
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 32px 32px;
  width:32px;
  height:32px;
  display: inline-block;
  float: right;
  margin: 0 0 0 6px;
}
.page__icon--view{
    @include page__icon_base;
}

.page__icon--download{
      @include page__icon_base("../images/subsections/icon_download.png");

}
