.panel-col-last .field-name-body {
  line-height: 1.25em;
  color: rgba(0, 0, 0, 0.6);
  width: 90%;
  @include window_size(desktop) {
    width: 85%;
    font-size: 1.143em;
    line-height: 1.35em;
  }
}

.panel-col-last .field-label {
  line-height: 1.25em;
  color:rgba(0,0,0,0.6);
  font-weight: 700;
  width: 90%;
  @include window_size(desktop){
    width: 85%;
    font-size: 1.143em;
    line-height: 1.35em;
  }
}

.panel-col-last .inside {
  .pane-entity-field {
    h3 {
      font-weight: 700;
      color: $dark_blue;
      padding: 20px 0 0 0;
      font-size: 1.2857em;
      margin: 0 0 20px 0;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0; left: 0;
        height: 1px;
        background-color: $link-blue;
        width: 80px;
      }
    }
  }
}