/**
 * @file
 * SMACSS Modules
 *
 * footer component.
 *
 */
#footer {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: $white;
  background: $dark_blue;

  padding: 25px 30px;
  a {
    color: $light_blue;
    font-weight: 700;
  }


  .footer__links {
    @include breakpoint($medium-and-large) {
      float:left;
    }

  }

  .menu { // ul
    margin:0 0 40px 0;
    padding: 0;
      @include breakpoint($medium-and-large) {
          margin:0;
      }

  }

  .menu__item { // li
    list-style: none;
    margin: 0 0 6px 0;
    @include breakpoint($medium-and-large) {
        margin: 0 25px 0 0;
        float: left;
    }

  }


  .footer__copyright {
    margin: 0 0 6px 0;
    @include breakpoint($medium-and-large) {
      display: inline-block;
    }
  }


  .footer__credits {

      @include breakpoint($medium-and-large) {
        float: right;
    }


  }
}
