.panel__header,
.panel__icon_header {
  font-family: $heading-font;
  margin:0 0 1em 0;
  padding: 0;
  font-size:1.714em;
  @include window_size(tab-wide-up){
    font-size: 2.571em;
    margin:0 0 2em 0;
  }
}

.panel__icon_header{
  font-size: 1.286em;
  line-height:1.3;
  margin-bottom: 0;
  @include window_size(tab-wide-up){
    font-size: 1.429em;
    min-height: 60px;
  }
}


.panel__header-line {
  @include hr-thick;
}

.panel__header-line_thin {
  @include hr-thin;
}

.panel__icons {
  display: block;
}


.panel__icon{
  max-width: 65px;
  width: 100%;
  float: right;
  margin: 0 0 2em;

  @include window_size(tab-wide-up){
    max-width: 134px;
    width: 100%;
    float: none;
  }
}

.panel__paragraph{
  color: navy;
  //width: 65%;
  margin: 0;
  //padding: 14px 0 25px 0;

}

.pane-bundle-four-column-cta > .pane-title {
  display: none;
}

.panel__section {
  line-height: 1.3em;
}

/*************************************
*         Layout
**************************************/

.four-col-wrapper {
  $zen-column-count: 4 !global;
  @include zen-grid-container;
  width: 90%;
  margin: 0 0 0 auto;
  padding: 2.5em 0 5em;
  @include window_size(desktop) {
    padding: 3em 0 10em;
  }


  .panel__section {
      @include window_size(tab-wide-up) {
        @include zen-grid-flow-item(1, 4, true, false);
        @include zen-float(left);
      }
    }
  }


/*

.panel__button--yellow {
  @include panel__button--base(yellow);
}


*/
