/**
 * @file
 * SMACSS Modules
 *
 * header component.
 *
 */
#header {
  color: $white;
  background: rgba(0,0,0,.2);
  padding: 0;
  a {
    color: $white;
  }
  height: 47px;
  @include breakpoint($medium-and-large) {
    height: 55px;
  }
  position:fixed;
  width:100%;
}
/* Wrapping link for logo. */
.header__logo {
  display: inline-block;
  vertical-align: middle;
  margin: 7px 0 0 16px;
  padding: 0;
  float: left;
  float: left;
  display: inline-block;
  width: 171px;
  height: 32px;
  @include breakpoint($medium-and-large) {
    width: 213px;
    height: 39px;
  }
}
// Logo.
.front #header a.header__logo.icon-egg {
  color: $egg_blue;
}
/* Logo image. */
.header__logo-image {
  vertical-align: middle;
}
/* Wrapper for website name and slogan. */
.header__name-and-slogan {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 20px;
  display: none;
}
/* The name of the website. */
.header__site-name {
  margin: 0; //  @include adjust-font-size-to( $h1-font-size * 1.22);
  font-size: 12px;
}
/* The link around the name of the website. */
.header__site-link {
  &:link,
  &:visited {
    color: #000;
    text-decoration: none;
  }
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
/* The slogan (or tagline) of a website. */
.header__site-slogan {
  margin: 0;
}
/* The secondary menu (login, etc.) */
.header__secondary-menu {
  float: right;
}
/* Wrapper for any blocks placed in the header region. */
.header__region {
  /* Clear the logo. */
  //  clear: both;
}
.block__title {
  display: none;
}
#header .menu {
  float: left;
  border: 0 solid red;
  margin: 15px 0 0 30px;
  padding: 0;
}
#header .menu__item {
  @include breakpoint($medium-and-large) {
    border: 0 solid red;
    margin: 0 15px 0 0;
    padding: 0;
    color: $white;
    font-size: 1.286em;
    font-weight: 700;
    list-style: none;
    display: inline-block;
  };
  display: none;
}
.menu__hamburger {
  width: 18px;
  height: 15px;
  float: right;
  margin: 16px 16px 0 0;
  @include breakpoint($medium-and-large) {
    display: none;
  }
}
