/**
 * @file
 * SMACSS Modules
 *
 * header component.
 *
 */

#header {
  color: $white;
  padding: 0;
  background: rgba(0,0,0,.25);
  a {
    color: $white;
  }
  height: 47px;
  @include window_size(tab-wide-up){
    height: 55px;
    width: 100%;
  }
  position:fixed;
  top:47px;
  z-index:5;
  min-width: 285px;
  width: auto;
  width: -webkit-calc(100% - 35px);
  width:   expression(100% - 35px);
  width:    -moz-calc(100% - 35px);
  width:      -o-calc(100% - 35px);
  width:         calc(100% - 35px);
}

.header--wrapper {
  @include wrapper(90%);
  @include window_size(desktop) {
    @include wrapper(80%);
  }
  max-width: 960px;
}

/* Wrapping link for logo. */
.header__logo {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  float: left;
  width: 171px;
  height: 32px;
  margin: 8px 0 0 0;
  @include window_size(tab-wide-up){
    width: 213px;
    height: 39px;
    margin: 2px 0 0 0;
  }
}

// Logo.
.front #header a.header__logo.icon-egg {
  color: $egg_blue;
}

/* Logo image. */
.header__logo-image {
  vertical-align: middle;
}

/* Wrapper for website name and slogan. */
.header__name-and-slogan {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 20px;
  display: none;
}

/* The name of the website. */
.header__site-name {
  margin: 0; //  @include adjust-font-size-to( $h1-font-size * 1.22);
  font-size: 12px;
}

/* The link around the name of the website. */
.header__site-link {
  &:link,
  &:visited {
    color: #000;
    text-decoration: none;
  }
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

/* The slogan (or tagline) of a website. */
.header__site-slogan {
  margin: 0;
}

/* The secondary menu (login, etc.) */
.header__secondary-menu {
  float: right;
}

/* Wrapper for any blocks placed in the header region. */
.header__region {
  /* Clear the logo. */
  //  clear: both;
  position: relative;
}

.block__title {
  display: none;
}

/* Special styles to line header elements up in the resources section */
@media (min-width: 960px) {
  body.section-resources,
  body.section-content {
    #header {
      .header--wrapper {
        width: auto;
        margin: 0;
        max-width: none;
      }
      .header__logo {
        width: 30%;
      }
      .header__logo-image {
        height: 38px;
        float: right;
        padding-right: 43px;
      }
      .header__region {
        width: 70%;
      }
      .menu {
        margin-left: 28px;
      }
    }
  }
}
