
.view-id-bp_featured_sub_page,
.view-bp-featured-resource-page,
.view-departments,
.view-labp-service-center,
.view-sbp-resource-incentives,
.view-terms-definitions {

  .views-field-name,
  .views-field-title {
    font-family: $heading-font;
    font-weight: 400;
    width: 70%;
    line-height: 1.2em;
    display: inline-block;
    color: $navy;
    padding: 0;
    font-size: 1.17em;
    @include window_size(desktop) {
      font-size: 1.571em;
      padding-bottom: 1em;
    }
  }

  .views-row{
    padding: 1em 0;
    border-bottom: solid 1px $light-blue;
    &:last-child {
      border-bottom: none;
    }

    @include window_size(desktop) {
      width: 90%;
    }
  }
}

.pane-bp-featured-sub-page,
.pane-bp-featured-resource-page,
.pane-terms-definitions {
  margin: 0;
  padding: 0;

  @include window_size(desktop) {
    width: $zen-grid-width;
    @include clearfix;
  }

  h2,
  h3 {
    font-family: $heading-font;
    font-size: 1.429em;
    font-weight: 900;
    color: $dark_blue;
    padding: 0 1em 0.8em 0;
    margin-bottom: 0;
    border-bottom: 1px solid $light-blue;
    @include window_size(desktop) {
      font-size: 2em;
      width: 90%;
      padding: 0 0 0.8em;
    }
  }
}


.view-id-bp_featured_sub_page,
.view-bp-featured-resource-page,
.view-id-departments,
.view-terms-definitions {
  .views-field-view-node,
  .views-field-field-document {
    float: right;
    vertical-align: top;
  }
  .views-field-view-node a {
    text-indent: -9999px;
    @include page__icon_base;
  }
  .views-field-field-document a {
    text-indent: -9999px;
    @include page__icon_base("../images/icon_download.png");
  }

  .views-field-body,
  .views-field-field-description {
    line-height: 1.25em;
    width: 90%;
    @include window_size(desktop){
      width: 85%;
      font-size: 1.143em;
      line-height: 1.35em;
    }
  }

}


/** Business source center stuff only **/

.view-id-labp_service_center {
  .view-content {
    h3 {
      text-transform: uppercase;
    }
  }
  .views-label {
    font-weight: 700;
    margin: 20px 0 0 0;
    padding: 0 0 1em;
    width: 85%;
    display: block;
    font-size: 1.143em;
    line-height: 1.35em;
  }
  .field-content {
    line-height: 1.25em;
    padding-bottom: 1.5em;
    @include window_size(desktop){
      width: 85%;
      font-size: 1.143em;
      line-height: 1.35em;
    }
  }

  .views-field-field-map {
    .field-content {
      width: 100%;
    }
    img {
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
  .views-field-title {
    font-size: 1.571em;
    font-weight: 700;
    font-family: $font-body;
    width: 100%;
    margin: 1em 0;
  }

  .views-field-field-email {
    .field-content {
      padding-bottom: 0;
    }
  }

  .views-field-field-phone {
    border-bottom: solid 1px $light-blue;
  }

  .views-field-field-services {
    padding-top: 1.5em;
  }
  .views-row {
    padding: 1em 0;
    border-top: solid 1px $light-blue;
    &:last-child {
      border-top: none;
    }
  }

}
.node-type-sbp-department {

  .field-items {
    width: 65%;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.143em;
    line-height: 1.35em;
  }
}



/*******************************
         LAYOUT
*******************************/
//Layout for the maps + address area
.view-id-labp_service_center {
  $zen-column-count: 12;

  .views-row { @include zen-grid-container(); }
  .views-field-title,
  .views-field-body,
  .views-field-field-map,
  .views-field-field-address,
  .views-field-field-email,
  .views-field-field-phone,
  .views-field-field-services,
  .views-field-field-languages {
    @include zen-grid-item-base();
  }

 // Desktop
  @include window_size(tab-wide-up) {
    .views-field-title {
      margin: 0;
    }
    .views-field-field-map {
      @include zen-grid-item (6, 1);
    }
    .views-field-field-address,
    .views-field-field-email,
    .views-field-field-phone {
      @include zen-grid-item (6, 1, right);
    }
    .views-field-field-email,
    .views-field-field-phone {
      @include zen-clear(right);
      border-bottom: none;
    }
    .views-field-field-services {
      @include zen-clear(both);
      @include zen-grid-item (6, 1);
      .views-label {
        margin-top: 0;
      }
    }
    .views-field-field-languages {
      @include zen-grid-item (6, 7);
    }
  }

}




