body.node-type-sbp-landing-page {

  /********* Layout *************/

  .panel__content_wrapper {
    $zen-grid-width: 90%;
    margin: 0 auto;
    max-width: $max-site-width;
    @include zen-grid-container();
    width: $zen-grid-width;
    padding-bottom: 25px;
    @include window-size(desktop){
      @include wrapper (80%);
      padding-bottom: 0;
    }
  }

  .panel__content_col_1 {
    padding-top: 4em;
  }

}