
.view-id-bp_featured_sub_page,
.view-bp-featured-resource-page,
.view-departments,
.view-labp-service-center,
.view-sbp-resource-incentives {

  .views-field-name,
  .views-field-title {
    font-family: $heading-font;
    font-weight: 400;
    width: 70%;
    line-height: 1.2em;
    padding-bottom: 1em;
    display: inline-block;
    @include window_size(desktop) {
      font-size: 1.571em;
    }
  }

  .views-row{
    padding: 1em 0 2em;
    border-bottom: solid 1px $light-blue;
    &:last-child {
      border-bottom: none;
    }
  }

}


.pane-bp-featured-sub-page,
.pane-bp-featured-resource-page,
.pane-terms-definitions {
  margin: 0;
  padding: 0;

  @include window_size(desktop) {
    width: $zen-grid-width;
    @include clearfix;
  }

  h2,
  h3 {
    font-family: Merriweather, serif;
    font-weight: normal;
    font-size: 1.429em;
    font-weight: 900;
    color: $dark_blue;
    @include window_size(desktop) {
      font-size: 2em;
    }

    border-bottom: 1px solid $light-blue;
    padding: 0px 10px 0 0;
  }
}


.view-id-bp_featured_sub_page,
.view-bp-featured-resource-page,
.view-id-departments {
  .views-field-view-node,
  .views-field-field-document {
    width: 20%;
    display: inline-block;
  }
  .views-field-view-node a {
    text-indent: -9999px;
    @include page__icon_base;
  }
  .views-field-field-document a {
    text-indent: -9999px;
    @include page__icon_base("../images/icon_download.png");
  }

  .views-field-body,
  .views-field-field-description {
    line-height: 1.25em;
    width: 90%;
    @include window_size(desktop){
      width: 85%;
      font-size: 1.143em;
      line-height: 1.35em;
    }
  }

}


/** Business source center stuff only **/

.view-id-labp_service_center {
  .views-label {
    font-weight: 700;
    margin: 20px 0 0 0;
    padding: 0 0 1em;
    width: 85%;
    font-size: 1.143em;
    line-height: 1.35em;
  }
  .field-content {
    line-height: 1.25em;
    width: 90%;
    margin: 0 0 20px 0;
    padding: 0;
    @include window_size(desktop){
      width: 85%;
      font-size: 1.143em;
      line-height: 1.35em;
    }
  }


  .views-field-field-services,
  .views-field-field-languages {
    width:45%;
    display: inline-block;
    vertical-align: top;
  }

  .views-field-field-map {
    width: 45%;
    float: left ;
    img {
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }

  .views-field-field-address,
  .views-field-field-email,
  .views-field-field-phone {
    width:45%;
    display: inline-block;
  }

}

.node-type-sbp-department {

  .field-items {
    width: 65%;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.143em;
    line-height: 1.35em;
  }
}

/***********************************************************/



