body.node-type-sbp-landing-page {


  /********* Layout *************/

  .panel__content_wrapper {

    $zen-grid-width: 90%;
    @include zen-grid-container();

    width: $zen-grid-width;
    ;
    @include window-size(desktop){
      @include wrapper (80%);
    }

    margin: 0 auto;
  }

  .panel__content_col_1 {
    padding-top: 4em;
  }

}