/**
 * @file
 * SMACSS Modules
 *
 * bp_starter_kit component.
 *
 */

.field-name-field-guide-title {
  font-size: 2em;
  color: $dark_blue;
  font-family: $heading-font;
  font-weight: normal;
  padding: 0.7em 0;
  margin: 1em 0 0;
  border-top: $border--thick;
}

.field-name-field-permit-pdf img.file-icon,
.field-name-field-guide-pdf img.file-icon {
  display: none;
}

.field-name-field-permit-pdf span.file-size,
.field-name-field-guide-pdf span.file-size {
  display: none;
}

.field-name-field-permit-links div.field-item {
  font-weight: bold;
  //font-size: 1em;
  margin-top: 8px;
  margin-bottom: 8px;
}

.field-name-field-permit-links div.field-item:after {
  content: ' > ';
}

.pane-node-field-checklist-description,
.pane-node-field-permit-description {
  margin-top: 10px;
  border-top: 3px solid black;
  padding-top: 10px;
}

.field-name-field-section-title,
.field-name-field-agency {
  font-weight: bold;
  margin-top: 15px;
}

.field-name-field-agency {
  border-top: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}


.tool-tip {
  @include tool-tip();
}

.field-name-field-guide-pdf a,
.field-name-field-permit-pdf a {
  @include panel__button--base($yellow, $navy);
}

/******** Starter Kit Specific Styles ******/
.node-type-sbp-starter-kit {
  #panels-ipe-regionid-right {
    max-width: $max-content-width;
  }
}