// Navigation between the screens

.wizard__nav {
  display: inline-block;
  width: 100%;
  //z-index: 10;
  //position: fixed;
  //bottom: 100px;
  //left: 0;
  //margin:0 0 0 0;
  //border: 0px solid red;
  @include window_size(tab-wide-up){
    width:85%;
    margin: 10px 25px 0 25px;
  }
  @include window_size(desktop){
    margin: 10px 0 0 0;
    width:  95%;

  }
}

.wizard__nav_context {
  display: inline-block;
  width: 100%;
  //z-index: 10;
  //position: fixed;
  //bottom: 100px;
  //left: 0;
  margin:0 0 0 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  @include window_size(tab-wide-up){
    width:85%;
    margin: 10px 25px 0 25px;
  }
  @include window_size(desktop){
    margin: 10px 0 0 0;
    width:  95%;

  }
}

.wizard__nav--full_width {
  display: inline-block;
  width: 100%;
  float: left;
  margin:10px 0 0 0;
  border:0px solid red;
  @include window_size(tab-wide-up){
    //width:85%;
    //margin: 10px 25px 0 25px;

  }
  @include window_size(desktop){
    //margin: 10px 0 0 0;
    //width:  95%;

  }
}

a.wizard__arrow-up {
  background-image: image-url("wizard/arrow_up.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 10px 10px 24px;
  border: 0px solid red;
  width: 24px;
  height: 25px;
  display: block;
  border⨪bottom: 2px solid white;
  text-indent: -10000px;
  @include window_size(tab-wide-up){
    margin: 0 10px 10px 0;
  }

}

a.wizard__arrow-down {
  background-image: image-url("wizard/arrow_down.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 0 0 24px;
  width: 24px;
  height: 25px;
  display: block;
  text-indent: -10000px;
  @include window_size(tab-wide-up){
    margin: 0 0 24px 0;
  }
}

a.wizard__arrow-down.enabled {
  background-image: image-url("wizard/arrow_down_enabled_desktop.png");
}


.wizard__arrow-up.enabled.left {
  background-image: image-url("wizard/arrow_left_enabled_desktop.png");
  display: inline;
  float: right;
  margin-top: 7px;
}

.wizard__arrow-down--filled {
  background-image: image-url("wizard/arrow_down_filled.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 320px;
  height: 94px;
  margin-top: 5px;
  display: block;
  border: 0px solid white;
  @include window_size(tab-wide-up){
    border: 0px solid red;
  }
}

// Copy next to the arrow
.wizard__nav_label{
  color:$dark_blue;
  font-weight: 700;
  float: left;
  font-size: 1em;
  border: 0px solid red;
  margin: 0;
  padding: 15px 0 0 4px;
  @include window_size(tab-wide-up){
    color:$white;
  }
}
// Copy next to the arrow on contextual help screens
.wizard__nav_label_help{
  color:$white;
  font-weight: 700;
  font-size: 1em;
  border: 0px solid red;
  margin: 10px 10px 10px 10px;
  width: 30%;
  text-align: right;
  float: right;
  display: inline;
}