$wizard_left_margin: 25px;
.wizard {
  color: $wizard-text;
  font-family: Roboto, sans-serif;
  background-color: $background-color-default;
}
.wizard__intro-screen--register-business {
  background-color: $background-register-your-business;
  height: 900px;
}
.wizard__content-block {
  display: inline-block;
  border: 0 solid black;
  width: 70%;
  padding: 0 0 0 25px;
}
.wizard__header {
  font-weight: 700;
  font-size: 1em;
  padding: 0;
  margin: 0 0 15px;
  padding: 25px 25px 0;
}
.wizard__header--intro {
  font-weight: 700;
  font-size: 1em;
  border: 0;
  padding: 0;
  margin: 0 0 15px;
}
.wizard__header-line {
  height: 4px;
  max-width: 80px;
  background: $wizard-hr;
  display: block;
  border: 0 none;
  margin: 0;
}
.wizard__question {
  font-family: Merriweather, serif;
  font-weight: 400;
  font-size: 1.667em;
  margin: 0 0 15px;
  padding: 0;
  @include window_size(desktop){
          font-size: 3em;
  }





}

.wizard__buttons {
  border: 0 solid white;
}
.wizard__button {
  background-color: white;
  padding: 8px 30px;
  font-weight: bold;
  display: inline-block;
  margin: 0 10px 0 0;
}
.wizard__button {
  @include wizard__button--base;
}
.wizard__button a {
  color: $wizard_text;
  text-decoration: none;
}
.wizard__button--selected {
  @include wizard__button--base;
  background-color: $wizard__button--selected;
  padding: 8px 25px 8px 35px;
}
.wizard__button--selected a {
  text-decoration: none;
  color: $wizard__button_text--selected;
}
.wizard__button--selected-icon {
  height: 10px;
  margin: 0 0 0 3px;
}



.wizard__intro-screen--name-business {}
