/**
 * @file
 *
 * General panels theming.
 *
 */

.panel-2col-stacked {
  background: $light-grey;

  .panel-col-top {
    h2.pane-title { display: none;}
    .inside { margin-bottom: 0;}
  }
  .panel-col-last { background: $white; }

  .field-collection-container { margin-bottom: 0;}

  /***************************
  *     Views & Search
  ****************************/

  /***************************
  *        Layout
  ***************************/

  .panel-col-first {
    width: 30%;
    @media all and (max-width: 720px) {
      float: none;
      width: 100%;
    }
  }

  .panel-col-last {
    width: 70%;
    margin-left: -3px;

    .inside { padding-left: 30px; }
    @media all and (max-width: 720px) {
      float: none;
      width: 100%;
    }
  }
}

/*************************************************
  @TODO Refactor code
* Flexible panel */
.panels-flexible-region-2-center {
  width: 100%;
  > .inside > .panel-pane:not(.pane-node-field-image) {

  }

}

