/**
 * @file
 *
 * General panels theming.
 *
 */

.panel-2col-stacked {
  background: $light-grey;
  .panel-col-last .inside {
    margin: 0 2em 1em 2em;

    @include window_size(desktop){
      margin: 0 0 1em 0.5em;
      width: 90%;
    }

  }


  .panel-col-top {
    h2.pane-title { display: none;}
    .inside { margin-bottom: 0;}
  }
  .panel-col-last { background: $white; }

  .field-collection-container { margin-bottom: 0;}

  /***************************
  *        Layout
  ***************************/

  $zen-grid-width: 100%;
  $zen-column-count:  10!global;

  .center-wrapper {
    @include zen-grid-container();
    width: 100%;
    padding-left: 0;
  }
  .panel-col-first ,
  .panel-col-last{
    float: none;
    margin: 0;
    width: 100%;
  }

  @include window_size(desktop){
    .panel-col-first { @include zen-grid-item (3, 1); }
    .panel-col-last {
      @include zen-grid-item (7, 4);
      .inside { padding: 1.5em 0 2em 30px; }
    }
  }
}

/*************************************************
  @TODO Refactor code
* Flexible panel */
.panels-flexible-region-2-center {
  width: 100%;
  > .inside > .panel-pane:not(.pane-node-field-image) {

  }

}

