/*****************************
*     General Styles
******************************/

.pane__hero {
}

.hero__image--bg {
  background-size: cover;
  background-position: 60%;
}

.hero__image--overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.hero__image--bg,
.hero__image--overlay {
  @include window_size(desktop){
    min-height: 400px;
  }

}



.hero__headline,
.hero__headline--half {
  font-family: $heading-font;
  font-weight: bold;
  color:#fff;
}

hr.hero__line,
hr.hero__line--half {
  @include hr-thick;
  margin: 2em 0 0;
}

.hero__business__name {
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 0;
  font-weight: normal;
}

.hero__business__description {
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

.hero__business__description {
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}



.hero__bottom_align--bn{
  margin-bottom: 2em;
}


.hero__layout--full,
.hero__layout--half {

}

/*****************************
*     Full Width
******************************/

.hero__layout--full {

  .hero__content-wrapper {
    @include wrapper(95%);

    @include window_size(tab-wide-up) {
      @include wrapper(80%);
    }
  }
  .hero__headline {
    font-size: 2.143em;
    margin: 2.4em 0 0;

    @include window_size(tab-wide-up) {
      font-size: 3em;
      margin: 2.4em 0 0;
    }
    @include window_size(desktop) {
      font-size: 4em;
      margin: 4.8em 0 0;
    }
  }
  .hero__bottom_align--bn {
    margin: 5em 0 3em;
  }
}


/*========== Layout ======== */
//Mobile-first layout
$zen-grid-width: 80%;
$zen-column-count:  1;
$zen-gutter-width:  20px;

.hero__content-wrapper {
  @include zen-grid-container();
  padding-left: 20px;
}

.hero__layout--full,
.hero__layout--half {

}



