.hero{


}

@mixin hero__hr_thick($color) {
  height: 4px;
  max-width: 80px;
  background: $color;
  display: block;
  border: 0 none;
  margin: 0;
}


.hero__photo{
  background-color: #88cff5;
  height: 550px;
  background-image:url("../images/hero/hero_home.jpg");
  background-size:auto 100%;
  background-position: 60%;
  border:0px solid red;
  @include clearfix;
  @include window_size(desktop){
    @include maintain-ratio(1440 550);
    border:0px solid red;
    background-size:100% auto;
  }
}





.hero__subsection{
  background-color: #88cff5;


  border:0px solid red;

  @include clearfix;
  @include window_size(desktop){
    //@include maintain-ratio(1440 550);
    height: 550px;
    background-size:100% auto;
  }
}




.hero__line--white {
    @include hero__hr_thick($white);

      display: none;
    @include window_size(desktop){
      display: block;
    }
}

.hero__content_wrapper{
  margin: 0 25px 25px 25px;
    background-color:#88cff5;
    border:0px solid red;


    @include window_size(desktop){
      width: $zen-grid-width;
      margin-left: auto;
      margin-right: auto;
      border:0px solid green;
      @include clearfix;
    }

}




.hero__content_wrapper--subsection{
    margin: 0 25px 25px 25px;


      position: relative;

  @include window_size(desktop){
    width: $zen-grid-width;

      margin-left: auto;
      margin-right: auto;
      border:10px solid green;
      @include clearfix;
      border: 0px solid red;
      height:550px;
    }
}



.hero__copy--subsection{
  @include window_size(desktop){
    border: 0px solid blue;
    /*margin-left: 250px;*/
    background-color: #88cff5;
    height: 100%;
    top:0;
    width:700px;
    float:left;

  }
}


.hero__copy--col_1{
  display: none;
    border: 1px solid red;
        @include clearfix;
  @include window_size(desktop){
      width: 250px;
      float:left;
      border: 0px solid red;
      display: block;
        height: 100%;
    }

}


.hero__business__name--subsection{
  font-weight: 700;
  color: $white;
  font-size: 1em;
  padding: 0;
    margin:55px 0 3px 0;
    margin:0px;
  @include window_size(desktop){
      margin:85px 0 3px 0;
      margin:0 0 3px 0;
  }
}

.hero__business__description--subsection{
  color: $white;
  width: 160px;
  padding: 0;
  margin:0;
}


.hero__overlay{
  background-color: rgba(0,0,0,.3);
  border:0px solid red;
  position: absolute;
  top:0;
  width: 100%;
  height: 550px;

  @include window_size(desktop){
    @include maintain-ratio(1440 550);
    border:0px solid red;

  }
}

.hero__bottom_align{
  @include window_size(desktop){
    border: 0px solid red;
    padding: 30px;
    position: absolute;
    bottom: 0;
  }
}

.hero__bottom_align--bn{
  border: 0px solid red;
  padding: 30px 30px 50px 0;
  position: absolute;
  bottom: 0;
}


.hero__bottom_align_detail{
    border: 0px solid red;
  @include window_size(desktop){
    border: 0px solid red;
    padding: 30px 30px 20px 30px;
    position: absolute;
    bottom: 0;
  }
}

// subsection
.hero__overlay_partial{
  background-color: rgba(0,0,0,.3);
  height:250px;
  width:100%;
  position: absolute;
  top:0;
  @include window_size(desktop){
      height:550px;
      width:50%;
  }
}

.hero__overlay_partial_photo{
    width:100%;
    height:250px;

    background-image:url("../images/hero/hero_homepage.jpg");
    background-size: auto 130%;
    background-position: 60%;
    background-repeat: no-repeat;
    border: 0px solid red;
  @include window_size(tab-wide-up){
      background-size: 100% auto;

  }
  @include window_size(desktop){
      position: absolute;
      top:0;
      height:550px;
      width:50%;
      background-size: auto 100%;
  }
}





.hero__overlay_partial_color{
border:0px solid red;
  background-color:  #6bc3f3;
  height:250px;
  width:100%;
position: relative;
  @include window_size(desktop){
      position: absolute;
      top:0;
      height:550px;
      width:50%;
  }
}






.hero__copy_block{

  position: absolute;
  bottom: 30px;
  padding:0 0 0 0;
  border: 0px solid red;

}

.hero__headline{
  font-family: Merriweather, serif;
  border:0px solid red;
  margin: 0;
  font-weight: 700;
  color:#fff;
  font-size: 2.143em;
  margin: 0 25px 20px 0;
    @include window_size(desktop){
        font-size: 4em;
        margin: 0 0 25px 0;;
    }

}











.hero__business__name{
  font-weight: 700;
  color: $white;
  font-size: 1em;
  padding: 0;
    margin:55px 0 3px 0;
  @include window_size(desktop){
      margin:85px 0 3px 0;
  }
}

.hero__business__description{
  color: $white;
  width:80%;
  padding: 0;
  margin:0;
}

// Subsection styles


.hero__headline--subsection_mobile{
    color:$white;
    font-family: Merriweather, serif;
    font-size: 1.714em;
    font-weight: 700;
    border: 0px solid red;


    @include window_size(desktop){

        display:none;

    }

}

.hero__headline--subsection_mobile_color{
    color:$white;
    font-family: Merriweather, serif;
    font-size: 1.714em;
    font-size: 1.4em;
    font-weight: 700;
    border: 0px solid red;
    color: $dark_blue;

    @include window_size(desktop){

        display:none;

    }

}


.hero__headline--subsection{
  display:none;
    @include window_size(desktop){
        font-size: 2.571em;
        margin: 0 0 25px 0;
        font-weight: 700;
        color:$dark_blue;
          font-family: Merriweather, serif;
          display: block;
    }

}

// copy under the headline
.hero__description--subsection{
  color:$dark_blue;
  font-size: 1.143em;
  border: 0px solid white;
  margin:30px 0 30px 0;
    @include window_size(desktop){
        font-size: 1.429em;
    }
}






// ICONS
// They live in two different sections of the header


.hero__icon--subsection_mobile{
  display: block;
    width: 100px;

    margin: 0 0 5px 0;
  @include window_size(desktop){
      display: none;

  }

}


.hero__icon_bottom_alignment--subsection{
  position: absolute;
  bottom:0;
  border: 0px solid red;
  margin: 0 25px 25px 25px;
}

.hero__icon_bottom_alignment--subsection_color{
  position: absolute;
  bottom:0;
  border: 0px solid red;
  margin: 0 25px 25px 25px;
}


.hero__icon--subsection_desktop{
  display: none;
  @include window_size(desktop){
      display: block;
      width: 100px;
      border: 0px solid red;
      margin-bottom: 15px;
  }

}

.hero__button--base{
    @include border-radius(20px);
    background-color:$white;
    padding: 8px 20px 8px 20px;
    font-weight: bold;
    display: inline-block;
    margin:0 10px 10px 0;
    cursor: pointer;
    text-transform: uppercase;

    @include window_size(desktop){
        @include border-radius(25px);
        font-size: 1.143em;
            padding: 10px 20px 10px 20px;
                margin:0 10px 20px 0;

    }
      @include clearfix;

}

.hero__button--base a{
        color:$dark_blue;
}
